#settingsPopup {
  display: none;
  background-color: var(--modal-bg-color);
  position: absolute;
  right: 2%;
  padding: 5px 25px 25px 25px;
  border-radius: 25px;
  transition-duration: var(--theme-transi-dura);
  z-index: 2;
}

#settingsContent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  /* place-items: center; */
  column-gap: 10px;
  row-gap: 25px;
}

#settingsPopup * {
  transition-duration: var(--theme-transi-dura);
}

#settingsHeader {
  color: var(--modal-font-color);
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
  font-weight: normal;
}

#colorPickerContent {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  row-gap: 1rem;
  color: var(--modal-font-color);
  transition-duration: 0s;
}

#colorChangeHeader {
  margin-top: 1.3em;
  font-size: 1.5em;
  text-align: center;
  color: var(--modal-font-color);
}

.colorSelectorDiv {
  font-size: 14px;
  text-align: center;
  padding-bottom: 1rem;
  transition-duration: 0s;
}

.colorPicker {
  text-align: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#settingsContent label {
  color: var(--modal-font-color);
}

#settingsContent select {
  color: black;
}

#focusTime {
  color: black;
}

#shortBreakTime {
  color: black;
}

#longBreakTime {
  color: black;
}

#customTimeGroup {
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

#workSoundGroup {
  grid-row: 2;
  grid-column: 1;
}

#breakSoundGroup {
  grid-row: 2;
  grid-column: 2;
}

/* #workSoundSelector {
  grid-row: 1;
  grid-column: 1;
}

#breakSoundSelector {
  grid-row: 1;
  grid-column: 2;
} */

#darkModeGroup {
  grid-row: 3;
  grid-column: 1;
}

#muteGroup {
  grid-row: 3;
  grid-column: 2;
}

#autoStartGroup {
  grid-row: 4;
  grid-column: 1;
}

#deviceNotUsedGroup {
  grid-row: 4;
  grid-column: 2;
}

/* slider stuff from w3schools */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#customTimeGroup input {
  width: 3em;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
