.stats-popup {
  display: none;
  position: relative;
  z-index: 51;
  padding-top: 0%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  animation: fadeEffect-overlay 1s;
}

.close-stats-button {
  color: #f0b9b9;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-stats-button:hover,
.close-stats-button:focus {
  color: rgb(236, 86, 86);
  text-decoration: none;
  cursor: pointer;
}

#parentDiv {
  display: none;
  top: 0%;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  background-color: var(--modal-bg-color);
  padding: 20px;
  width: 25%;
  min-width: 350px;
  max-height: 80%;
  overflow-y: scroll;
  text-align: center;
  scroll-padding: 20px;
}

#parentDiv::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

#parentDiv::-webkit-scrollbar {
  width: 8px;
}

.stats-info {
  color: rgb(33, 150, 243);
  font-size: 36px;
  padding: 0;
  margin: 0;
  font-weight: bolder;
}

.dist-info {
  color: rgb(177, 2, 2);
  font-size: 36px;
  padding: 0;
  margin: 0;
  display: none;
  font-weight: bolder;
}

.stats-info-label {
  color: var(--modal-font-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding-bottom: 1vw;
  font-weight: bold;
}

.dist-info-label {
  color: var(--modal-font-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: none;
  padding-bottom: 1vw;
  font-weight: bold;
}

.statslabel {
  font-size: 32px;
  color: var(--modal-font-color);
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
  text-align: left;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

.tab-btn {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: var(--modal-font-color);
  padding: 14px 16px;
  font-size: 2.5rem;
}

.tab-btn:hover {
  background-color: #ddd;
  color: rgb(33, 150, 243);
  border-radius: 25px;
}

.tab-btn-active {
  background-color: rgba(70, 70, 70, 0.39);
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: rgb(33, 150, 243);
  padding: 14px 16px;
  font-size: 2.5rem;
}

.dist-list {
  max-height: 10vh;
  width: 22vw;
  overflow-y: scroll;
  color: black;
  list-style-type: decimal;
}

.distItem {
  color: rgb(177, 2, 2);
  left: 10vw;
  align-self: center;
  font-size: 16px;
  display: block;
  float: none;
}

@keyframes fadeEffect-popup {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeEffect-overlay {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-in {
  0% { -webkit-transform: translateY(-100vh); }
  100% { -webkit-transform: translateY(10vh); }
}

@-webkit-keyframes slide-in {
  0% { -webkit-transform: translateY(-100vh); }
  100% { -webkit-transform: translateY(10vh); }
}

@keyframes slide-out {
  0% { transform: translateY(10vh); }
  100% { transform: translateY(-100vh); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translate(10vh); }
  100% { -webkit-transform: translateY(-100vh); }
}

@media only screen and (max-width: 992px) {
  #parentDiv {
    width: 25%;
    min-width: 350px;
  }

  .tab-btn {
    font-size: 1.5rem;
  }

  .tab-btn-active {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  #parentDiv {
    width: 70%;
    min-width: 0;
  }
}
