* {
  font-family: 'Helvetica', sans-serif;
}

/* color variables for buttons, page, and timer */
:root {
  /* default button colors */
  --button-border-color: rgba(245, 245, 245, 0.4);
  --button-color: lightslategray;

  /* short break button colors */
  --button-color-short: #763626;

  /* default page colors */
  --page-bg-color: none;
  --header-color: none;
  --table-bg-color: none;
  --font-color: none;
  --btn-icon-color: none;
  --btn-icon-hover-color: none;

  /* short break page colors */
  --page-bg-color-short: none;
  --header-color-short: none;
  --table-bg-color-short: none;
  --font-color-short: none;
  --btn-icon-color-short: none;
  --btn-icon-hover-color-short: none;

  /* long break page colors */
  --page-bg-color-long: none;
  --header-color-long: none;
  --table-bg-color-long: none;
  --font-color-long: none;
  --btn-icon-color-long: none;
  --btn-icon-hover-color-long: none;
  --even-color: rgba(149, 218, 229, 0.603);
  --odd-color: var(--even-color);
  --tr-hover-color: #f2f2f279;
  --completed-task-color: rgb(131, 156, 170);
  --scroll-color: var(--even-color);

  /* table row spacing */
  --td-border-radius: 2px;
  --table-border: 12px;
  --table-row-margin: 20px;

  /* shortbreak table theme */
  --even-color-short: #98c7e9;
  --odd-color-short: var(--even-color-short);
  --tr-hover-color-short: #bdd3df;
  --scroll-color-short: var(--even-color-short);

  /* distraction/settings background */
  --modal-bg-color: #f1f1f1;
  --modal-font-color: black;
  --current-task-color: rgba(179, 179, 141, 0.7);

  /* the theme transition duration */
  --theme-transi-dura: background-color 0.2s;
  --focus-transi-dura: 2s;
  --highlight-transi-dura: 0.2s;
}

body {
  background-color: var(--page-bg-color);
  transition-duration: var(--theme-transi-dura);
}

header,
nav {
  overflow: hidden;
  background-color: var(--header-color);
  transition: background-color var(--theme-transi-dura);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.brand-logo {
  margin-left: 1vw;
  pointer-events: none;
}

a.brand-logo span {
  margin-left: 1vw;
}

.main-page {
  color: var(--font-color);
}

.pure-button {
  background: var(--button-color);
  border-radius: 5px;
  color: var(--font-color);
  padding: 0;
  font-size: 70%;
}

.section-container {
  position: relative;
  margin: auto;
  transition-duration: var(--theme-transi-dura);
}

/* header styling */
.icon-container {
  display: flex;
  float: right;
  font-size: 0.5em;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons {
  padding: 0;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--button-border-color);
}

.icon-container p {
  margin: 0;
  padding: 0;
}

.icons img {
  position: relative;
  top: 2px;
}

.inline {
  display: inline-block;
  max-width: 45%;
}

.buttons-div {
  width: 300px;
  height: 50px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

/* timer styling */
#timerContainer {
  /* width: 35%;
  min-width: 650px; */

  /* background-color: var(--timer-bg-color); */
  transition: transform var(--focus-transi-dura);
  border-radius: 10px;
}

#countdown {
  font-size: xx-large;
  text-align: center;
}

#modeDisplay {
  position: relative;
  top: 10px;
  margin: 10px;
  font-size: 80%;
  font-weight: normal;
  transition: color var(--theme-transi-dura);
  transition: font-size var(--focus-transi-dura);
}

#timeDisplay {
  position: relative;
  top: 0;
  bottom: 100px;
  font-size: 600%;
  margin: -20px auto;
  height: 300px;
  left: 0;
  width: 100%;
}

#currentTask {
  font-size: 80%;
  display: flex;

  /* width: fit-content; */
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  word-break: break-word;
  transition: color var(--theme-transi-dura);
  transition: font-size var(--focus-transi-dura);
}

html {
  scroll-behavior: smooth;
}

/* for support for small screens */
@media screen and (max-width: 500px) {
  #timerContainer {
    width: 80vw;
  }

  @media screen and (max-width: 300px) {
    #timerContainer {
      width: 240px;
    }
  }
}

#startTimer {
  color: var(--font-color);
}

#distractionButton {
  color: white;
}

@media screen and (max-width: 500px)/*, (max-height: 550px)*/ {
  #distractionButton {
    font-size: 35%;
  }

  #startTimer {
    font-size: 75%;
  }

  #finishTask {
    font-size: 50%;
  }

  #timeDisplay {
    font-size: 240%;
  }

  #modeDisplay {
    font-size: 70%;
  }
}

#top-left-border {
  position: relative;
  text-align: left;
  margin: 0;
  font-size: 300%;
}

#top-left-border span {
  position: absolute;
  top: 0;
  left: 26%;
  line-height: 0.3;
}

#bottom-right-border {
  position: relative;
  text-align: right;
  margin: 0;
  font-size: 300%;
}

#bottom-right-border span {
  position: absolute;
  bottom: 0;
  right: 26%;
  line-height: 0.3;
}

.logo {
  display: inline-block;
  height: 100%;
}

.logo > img {
  vertical-align: middle;
}

a {
  color: var(--font-color);
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  #top-left-border span {
    left: 20%;
  }

  #bottom-right-border span {
    right: 20%;
  }
}

@media only screen and (max-width: 992px) {
  #top-left-border span {
    left: 4%;
  }

  #bottom-right-border span {
    right: 4%;
  }
}

@media screen and (max-width: 600px) {
  #timerContainer {
    width: 90vw;
  }

  #top-left-border span {
    left: 10%;
    font-size: 50px;
  }

  #bottom-right-border span {
    right: 10%;
    font-size: 50px;
  }

  #startTimer {
    font-size: 50%;
    padding: 0 5px;
  }

  #distractionButton {
    padding: 0 5px;
  }

  #finishTask {
    margin: 5px 0;
  }

  #timeDisplay {
    position: relative;
    top: 0;
    bottom: 100px;
    margin: 0 auto;
    height: 130px;
    left: 0;
    font-size: 240%;
  }
}

nav.focus {
  /* transition-duration: var(--focus-transi-dura); */
  background-color: var(--page-bg-color);
}

#timerContainer.focus {
  transform: translate(0, 30%);
}

#timerContainer.focus #modeDisplay {
  font-size: xx-large;
}

#currentTask.focus {
  font-size: xx-large;
}

#currentTask.animate {
  animation: fadeEffect-popup 0.25s;
}

@media screen and (max-width: 600px) {
  #timerContainer.focus {
    transform: translate(0, 40%);
  }

  #currentTask.focus {
    font-size: xx-large;
  }
}
